[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
	url = https://github.com/lankovas/nomad-material-processing.git
[submodule "nomad-material-processing"]
	path = nomad-material-processing
	url = https://github.com/lankovas/nomad-material-processing.git
[submodule "nomad-cau-plugin"]
	path = nomad-cau-plugin
	url = git@github.com:CAU-Kiel/nomad-cau-plugin.git
[submodule "packages/nomad-cau-plugin"]
	path = packages/nomad-cau-plugin
	url = git@github.com:CAU-Kiel/nomad-cau-plugin.git
